.thespace {
  display: flex;
  justify-items: flex-end;
  flex-direction: column;
  width: 400px;
  height: 1467px;
  background: #f5f6f9;
  box-shadow: rgba(154, 159, 191, 0.15);
  margin-right: 30px;
}

.header {
  display: flex;
  width: 400px;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}

.the-space {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #5db86c;
}

.addy {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #143a4f;
  padding-top: 8px;
}

.view-details {
  padding-top: 30px;
  width: 340px;
  height: 523px;
  justify-content: center;
}

.space-info {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #5db86c;
}

.space-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 306px;
  width: 400px;
}

.status-questions p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #9a9fbf;
  padding-bottom: 32px;
}

.status-answers p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #143a4f;
  padding-bottom: 32px;
  text-align: right;
}

.features {
  padding-top: 20px;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
  color: #9a9fbf;
}

.services {
  display: flex;
  align-items: flex-start !important;
}

.services ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.services ul li {
  font-weight: 600;
  font-size: 8px;
  line-height: 11px;
  color: #000000;
  text-align: center;
  padding: 0 10px 0 4px;
}

.services ul li img {
  width: 11px;
  height: 11px;
}

.space-gallery {
  max-height: 432px;
}

.gallery {
  display: flex;
  flex-flow: column wrap;
  height: 387px;
}

.gallery-image img {
  width: 160px;
  border-radius: 8px;
}
