.thespace {
  display: flex;
  justify-content: flex-end;
  width: 400px;
  height: 1467px;
  background: #f5f6f9;
  box-shadow: rgba(154, 159, 191, 0.15);
}

.header {
  display: flex;
  width: 400px;
  height: 120px;
  padding: 30px;
  justify-content: space-between;
}

.the-space {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #5db86c;
}

.addy {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #143a4f;
  padding-top: 8px;
}
