nav {
  position: static;
  width: 112px;
  height: 1024px;
  left: 20px;
  top: 20px;
  border: 1px solid #000000;
  background: #000000;
  box-sizing: border-box;
}

.logo {
  position: relative;
  width: 18.64px;
  height: 39.84px;
  left: calc(50% - 18.64px / 2 + 0.32px);
  top: 38px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  list-style: none;
  width: 36px;
  height: 396px;
  left: 38px;
  top: 148px;
}

img {
  width: 36px;
  height: 36px;
  left: calc(50% - 36px / 2);
  padding-top: 36px;
}
