* {
  padding: 0;
  margin: 0;
}

.col-2 {
  width: 100%;
  padding-left: 40px;
  margin-top: 160px;
}

.myspace {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Manrope";
  font-style: normal;
  width: 279px;
  padding-top: -20px;
  background: #ffffff;
  border-radius: 12px;
}

.my-space-head {
  display: flex;
  flex-direction: column;
}

.my-space-head .details {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  margin: 0;
}

strong {
  color: #5db86c;
  font-weight: 2500;
}

.list ul {
  display: flex;
  color: #9a9fbf;
  font-weight: 600;
  font-size: 8px;
  flex-direction: row;
}

.list li {
  padding-right: 12px;
}

.li1 {
  list-style: none;
}

.carddetail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.carddetail h4 {
  width: 152px;
  height: 19px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #5db86c;
}

small {
  color: #9a9fbf;
  font-weight: 800;
  font-size: 8px;
}
